body{
  /* color: rgb(209, 0, 0); */
  /* border: 3px solid saddlebrown; */
}

h1,
h2,
h3,
p,
li {
  font-family: sans-serif;
}

h1 { 
  color: #ec5f0d;
  font-size: 26px;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  /* font-family: sans-serif; */
}

h3 {
  font-size: 30px;
  /* font-family: sans-serif; */
}
h4 {
  font-size: 20px;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  /* font-family:sans-serif; */
  line-height: 1.5;
}

li {
  /* font-family: sans-serif; */
  font-size: 20px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p{
  font-style: italic;
} */

#author{
  /* color: aqua; */
  font-style: italic;
  font-size: 18px;

}

#copyright{
  font-size: 16px;
}

.related-author{
  font-size: 18px;
  font-weight: bold;
}

/* #related{
  list-style: none;
  list-style: none;
  font-size: large;
} */

.related{
  /* color: blue; */
  list-style: none;
}

*{
  /* background-color: rgb(192, 207, 190); */
  /* border: 3px solid brown; */
}

aside{
  border: 5px solid aqua;
  background-color: rgb(212, 212, 212);
  width: 500px;

}

li:first-child{
  font-weight: bold;
}

li:last-child{
  font-style: italic;
}

li:nth-child(3){
  /* color: red; */
}

/* working but it should not */
article p:first-child{
  color: rgb(172, 253, 20);
  /* background-color: black; */
}

/* hyper links */
a:link{
  color: rgb(152, 180, 231);
  text-decoration: none;

}

a:visited{
  color: black;
}

a:hover{
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

a:active{
  background-color: black;
  font-style: italic;
}

#copyright{
  color: chartreuse;
}

a{
  color: red;
}

.sd{
  color: violet;

}

.head{
  background-color: #c5b8b0;
  padding: 43px;
  margin: 22px;
}

.ios{
  padding-left: 10px;
}

.container{
  width:700px;
  margin-left: auto;
  margin-right: auto;
}
